/* Set the background color of the entire webpage to white */
body {
  background-color: #ffffff;
}

/* Style the heading elements (h1, h2, etc.) with the Harvard crimson color */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #c90016;
}

/* Style links with the Harvard crimson color */
a {
  color: #c90016;
}

/* Style button with harvard crimson */
button {
  background-color: #c90016;
  color: white;
}

/* Center a block-level element horizontally */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 600px;
}

/* Center an image horizontally */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-position: inside;
}

li {
  text-align: left;
}
